# database access (ORM)
SQLAlchemy==1.2.7

# database access (PostgreSQL)
psycopg2==2.7.4

# for the REST aAPI
Flask==0.12.2
git+git://github.com/biosustain/potion.git@d52e8f526bbee843a7d486cd45227dbdaf0b2240
Flask-SQLAlchemy==2.3.2
Flask-CORS==3.0.3

