# database access (ORM)
SQLAlchemy==1.2.12

# database access (PostgreSQL)
psycopg2-binary==2.7.5 # ToDo: switch back to psycopg2 when 2.8 will be released

# for the REST aAPI
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
Flask-CORS==3.0.6
Flask-Potion==0.15.0

